# Default Charset
AddDefaultCharset utf-8

# Disable Directory Listing
Options -Indexes

<ifModule mod_rewrite.c>

  # Base traffic on index.php
  RewriteEngine on
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

</IfModule>